@media (max-width: 575.98px) {

a.logoh{
	margin-left: 44%;
}

		a.bonjour{
			display: inline-block;
		   font: 16pt arial;
		   margin-left: 36%;
		}

				.enfant{
				   margin: 3px;
				   padding: 0px;
				   border: solid 1px #000;
				   color: #000;
				   display: block;
				}

						.minia{
							display: inline-block;
							margin-left: 37%;
						}

							.ellipsis {
							  white-space: nowrap; 
							  width: 70%; 
							  overflow: hidden;
							  text-overflow: ellipsis;
							}

								.lirelasuite{
								   align-items: right;
								   margin-top: 0px;
								   margin-left: 70%;
								}
}

@media smartphones(max-width: 767.98px) {

}

@media tablets(max-width: 991.98px) {
	p{
		color: green;
	}
}

@media desktops(max-width: 1199.98px) {
   	p{
		color: darkred;
	}
}
